#mainTopic{
    color: blue;
}
*
{
    text-align: center;
}
h1, h3, h5{
    font-family: Georgia;
}
.para
{
    color: white;
    background-color: cornflowerblue;
}
button{
    background-color: purple;
    color: azure;
}
button:hover{
    background-color: yellow;
    color: blue;
}
.para:nth-of-type(odd){
    color: yellow;
}
h1::first-letter{
    color: red;
}
#yes:checked + label{
    color: darkgreen;
    font-weight: bold;
}
/* h1-> 001
#mainContent -> 100
.main -> 010
div.main -> 011
h1>.main>div.main>#maincontent */