h1{
    text-align: center;
    text-decoration:double aqua underline;
    letter-spacing: 10px;
    font-size: 25px;
    font-family: arial;
    /* border: solid; */
    /* width: 50%; */
}
h3{
    text-align: end;
    text-decoration:dotted pink overline;
}
h2{
    text-align: end;
    text-decoration:dashed blue line-through;
}
p{
    text-align: justify;
    text-decoration:  green line-through;
    line-height: 1.5;
    font-size: 15px;

}
a{
    text-decoration: none;
}